<h1 class= "text-center">Post review for<%=@restaurant.name%></h1>
<div class="container">
  <div class ="row">
    <div col-xs-12 col-sm-6 col-small-offset-3>
      <%=simple_fore_for [@restaurant, @review] do |f| %>
        <%= f.input :content, placeholder: "Great place" %>
        <%= f.submit "post review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
